<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edushelf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ndebele_icon_transparent"
        android:roundIcon="@drawable/ndebele_icon_transparent"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduShelf"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.EduShelf.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.EduShelf.NoActionBar" />

        <activity android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.EduShelf.NoActionBar" />

        <activity android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.EduShelf.NoActionBar" />

        <activity android:name=".BrowseActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <activity android:name=".BookDetailActivity"
            android:exported="false"
            android:parentActivityName=".BrowseActivity" />

        <activity android:name=".EnquiryActivity"
            android:exported="false"
            android:parentActivityName=".BookDetailActivity" />

        <activity android:name=".SellActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <activity android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

    </application>
</manifest>